<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Create Tag</title>
</head>
<body>
	<h1>CreateTag</h1>
	<form id="createTagForm" th:action="@{/tag/taglist}" method="POST">
		<table>
			<tr>
				<td><label for="tagNameInput">Tag Name</label></td>
				<td><input id="tagNameInput" type="text" th:field="${tagForm.nome}" required/></td>
				<td th:if="${#fields.hasErrors('tagForm.nome')}" th:errors="${tagForm.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="colorInput">Color</label></td>
				<td><input id="colorInput" type="text" th:field="${tagForm.colore}" /></td>
				<td th:if="${#fields.hasErrors('tagForm.colore')}" th:errors="${tagForm.colore}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><label for="descriptionInput">Description</label></td>
				<td><input id="descriptionInput" type="text" th:field="${tagForm.descrizione}" /></td>
				<td th:if="${#fields.hasErrors('tagForm.descrizione')}" th:errors="${tagForm.descrizione}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td><button type="submit">Create Tag</button></td>
			</tr>
		</table>
	</form>

</body>
</html>