<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Add Member</title>
</head>
<body>
	<h1>Find Member</h1>
	<form id="memberUserForm" th:action="@{/projects/{projectId}/form/success(projectId=${project.id})}" method="POST">
		<table>
			<tr>
				<td><label for="usernameInput">Username</label></td>
				<td><input id="usernameInput" type="text" th:field="${memberForm.username}" required/></td>
				<td th:if="${#fields.hasErrors('memberForm.username')}" th:errors="${memberForm.username}" th:style="'color:red'"></td>
				<td>
					<button type="submit">Find</button>
				</td>
			</tr>
		</table>
	</form>

</body>
</html>